html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    width: 550px;
    margin: 60px auto ;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    padding: 0 20px;
}

p {
    color: #8B8B8B;
}

.section-main, .section-travel-agency, .section-delegate {
    text-align: center;
}

.section-main img {
   width: 350px;
   height: 290.5px;
}

.section-main h1 {
   font-size: 28px;
   margin: 40px 0;  
}

.button {
    display: block;
    font-size: 14px;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
}

.one {
    background-color: #407BFF;
    margin: 40px auto 10px auto;
}

.two {
    background-color: #8B8B8B;
    margin: 10px auto 40px auto;
}

h2 {
    font-size: 16px;
    margin-top: 60px;
}

.white-button {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
    display: flex;
}

.section-travel-agency p, .section-delegate p {
    margin-bottom: 30px;
}

.white-button img {
    width: 45px;
    height: 40px;
}

.white-button p {
    margin: auto 30px auto 20px;
}

@media screen and (min-width: 640px) {
    
}
