html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    /* width: 550px; */
    margin: 60px auto ;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    padding: 0 20px;
}

p {
    color: #8B8B8B;
}

.section-main, .section-travel-agency, .section-delegate {
    text-align: center;
}

.section-main img {
   width: 350px;
   height: 290.5px;
}

.section-main h1 {
   font-size: 28px;
   margin: 40px 0 10px 0;
   padding-bottom: 10px;  
}

.line {
    border-bottom: 2px solid #407BFF; 
    width: 60px;  
    align-self: center;
}

.section-main p {
    margin: 40px 0 30px 0;
}

.button {
    display: block;
    font-size: 14px;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
    margin: 10px auto;
}

.one {
    background-color: #407BFF;
}

.two {
    background-color: #8B8B8B;
}

h2 {
    font-size: 16px;
    margin-top: 60px;
}

.white-button {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
    display: flex;
}

.section-travel-agency p, .section-delegate p {
    margin-bottom: 30px;
}

.white-button img {
    width: 45px;
    height: 40px;
}

.white-button p {
    margin: auto 30px auto 20px;
}

@media screen and (min-width: 640px) {
    /* body {
        width: 770px;
    } */
    .section-main, h2, .description {
        padding: 0 110px;
    }

    .section-main img {
        width: 400px;
        height: 332px;
     }

    .section-button {
        display: flex;
        justify-content: center;
    }
    .button {
        margin: 10px;
    }
    .button-section {
        display: flex;
        justify-content: center;
    }
    .white-button {
        flex: 0 0 calc((100% - 80px) / 3);
        display: block;
        padding: 0;
        margin: 10px;
    }
    .white-button img {
        margin: 40px auto 0 auto;
    }
    .white-button p {
        margin: 20px 15px;
    }
}

@media screen and (min-width: 1100px) {
    body {
        width: 1040px;  
    }
    .section-main {
        display: flex;
        padding: 0;
        margin-bottom: 80px;
    } 
    .section-main-content {
        order: 0;
        flex: 0 0 490px;
        margin-right: 30px;
        text-align: left;
    }
    .section-main-img {
        order: 1;
        flex: 0 0 490px;
        margin-left: 30px;
        text-align: center;
    }
    .section-button {
        justify-content: flex-start;
    }
    .button {
        margin: 0;
    }
    .one {
        margin-right: 20px;
    }
    .line {
        align-self: flex-start;
        margin: 0;
    }
    .section-travel-agency, .section-delegate {
        display: flex;
    }
    .section-travel-agency {
        margin-bottom: 80px;
    }
    .section-travel-agency-content {
        order: 1;
        flex: 0 0 430px;
        margin-left: 30px;
    }
    h2 {
        text-align: left;
        padding: 0;
        margin: 40px 0 18px 0;
    }
    .section-travel-agency-content p, .section-delegate-content p {
        text-align: left;
        padding: 0;
        margin: 0 0 40px 0;
    }
    .button-section {
        order: 0;
        flex: 0 0 550px;
        justify-content: space-between;
    }
    .button-section.travel-agency {
        margin: 0 30px 0 0;
    }
    .button-section.delegate {
        margin: 0 0 0 30px;
    }
    .white-button {
        flex: 0 0 calc((100% - 40px) / 3);
        margin: 0;
        padding: 40px 0;
    }
    .white-button img {
        margin-top: 0;
    }
    .white-button p {
        margin-bottom: 0;
    }
    .section-delegate-content {
        flex: 0 0 430px;
        margin-right: 30px;
    }
}
